
@media screen and (min-width: 320px) and (max-width: 767px) {
.footer 
{
    width: 480px;
    text-align: center;
    background: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px; 
    
}
.footer-logo 
{
    font-weight: bold;
    font-size: 26px;
    line-height: 1.192;
    letter-spacing: 0.03em;  
    color: $accent-color;
    margin-bottom: 20px;
    cursor: pointer;
    
}
footer .footer-list
{
 display: block;
 margin: 0 auto;
 padding-top: 20px; 
 
}
.footer-left 
{
    margin-bottom: 60px;
}
.footer-right 
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
  
     
}

.footer-link 
{
    font-weight: normal;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    text-decoration-line: none;
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 8px;
    cursor: pointer;
} 
.footer-address 
{
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 1.715;
letter-spacing: 0.03em;
text-decoration-line: none;
color: $accent-color-light;
cursor: pointer;
margin-bottom: 8px;
} 
.footer-address:hover,
.footer-address:focus 
{
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 1.715;
letter-spacing: 0.03em;
text-decoration-line: none;
color: $accent-color;
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);    
}

.footer-link-join-title 
{
   
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 1.14;
        color:$accent-color-light;
        margin-bottom: 20px;
}
/*активные ссылки в подвале*/
.footer-link:hover,
.footer-link:focus 
{
font-weight: normal;
font-size: 14px;
line-height: 1.714;
letter-spacing: 0.03em;
text-decoration-line: none;
color: $accent-color;
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);    
}

    .footer-input 
    {
   display: block;
   margin: 20px 0;
   
   }
    .footer-form-label 
    {
        
       margin-left: 10px;    
    } 
    .footer-input-email 
    {
   width: 358px;
   height: 50px;
   padding-left: 8px;
   background: #2F303A;
   border: 1px solid rgba(255, 255, 255, 0.3);
   box-sizing: border-box;
   border-radius: 4px;
   cursor: pointer;
   margin-bottom: 20px;   
    }
    .footer-input-email::placeholder 
    {
    font-style: normal;
   font-weight: normal;
   font-size: 16px;
   line-height: 1.25;
   color: rgba(255, 255, 255, 0.6);
   }
   .footer-input-email:placeholder-shown 
   {
       background: #2F303A;
       color: rgba(255, 255, 255, 0.6);
        
   }
   .footer-input-email:not(:placeholder-shown):valid
   {
       background-color: #EEEEEE;
       color: $accent-color; 
   }
   .footer-input-email:not(:placeholder-shown):invalid
   {
       border-color: tomato;
       background-color: #EEEEEE;
       color: $accent-color;
   } 
}
@media screen and (min-width:768px) and (max-width: 1199px) {
    .footer {
        & .footer-list {
      display: flex;
      align-items: baseline;
    }
      
      
    &-left {
      width: 50%;
    }
    &-right {
      width: 50%;
    }
  
    &-right-email {
      width: 100%;
    }
  
    }
  
    .footer-input-email 
    {
      width: 450px;
    }
  }
  

@media screen and (min-width: 1200px) {
    .footer .footer-logo 
{
    font-weight: bold;
    font-size: 26px;
    line-height: 1.192;
    letter-spacing: 0.03em;  
    color: $accent-color;
    margin-bottom: 20px;
    cursor: pointer; 
}
footer .footer-list
{
 display: flex;
 flex-direction: column;
 padding-top: 20px; 
}
.footer-left 
{
    margin-right: 70px;
}
.footer-right 
{
    display: flex;
    flex-direction: column;
    margin-right: 93px;
     
}

.footer-link 
{
    font-weight: normal;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    text-decoration-line: none;
    color: rgba(255, 255, 255, 0.6);
    margin-top: 9px;
    cursor: pointer;
} 
.footer-address 
{
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 1.715;
letter-spacing: 0.03em;
text-decoration-line: none;
color: $accent-color-light;
cursor: pointer;
} 
.footer-address:hover,
.footer-address:focus 
{
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 1.715;
letter-spacing: 0.03em;
text-decoration-line: none;
color: $accent-color;
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);    
}

.footer-link-join-title 
{
   
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 1.14;
        color:$accent-color-light;
        margin-bottom: 20px;
}
/*активные ссылки в подвале*/
.footer-link:hover,
.footer-link:focus 
{
font-weight: normal;
font-size: 14px;
line-height: 1.714;
letter-spacing: 0.03em;
text-decoration-line: none;
color: $accent-color;
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);    
}
.footer 
{
background: #2F303A;   
}


    .footer-input 
    {
   display: flex;
   }
    .footer-form-label 
    {
        
       margin-left: 10px;    
    } 
    .footer-input-email 
    {
   width: 358px;
   height: 50px;
   padding-left: 8px;
   background: #2F303A;
   border: 1px solid rgba(255, 255, 255, 0.3);
   box-sizing: border-box;
   border-radius: 4px;
   cursor: pointer;   
    }
    .footer-input-email::placeholder 
    {
    font-style: normal;
   font-weight: normal;
   font-size: 16px;
   line-height: 1.25;
   color: rgba(255, 255, 255, 0.6);
   }
   .footer-input-email:placeholder-shown 
   {
       background: #2F303A;
       color: rgba(255, 255, 255, 0.6);
        
   }
   .footer-input-email:not(:placeholder-shown):valid
   {
       background-color: #EEEEEE;
       color: $accent-color; 
   }
   .footer-input-email:not(:placeholder-shown):invalid
   {
       border-color: tomato;
       background-color: #EEEEEE;
       color: $accent-color;
   } 
}