.social-list 
{
    display: flex;
    justify-content: space-evenly;
    cursor: pointer;
  }
  .social-list-link 
  {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: $accent-color-light;
    cursor: pointer;
  }
  
  .social-list-link:hover,
  .social-list-link:focus 
  {
    background-color: $accent-color;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); 
  }
  .social-link-svg 
  {

    fill: #AFB1B8;
  }
  .social-list-link:hover .social-link-svg,
  .social-list-link:focus .social-link-svg 
  {
      fill:  $accent-color-light;
      transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); 
  }
  .footer-social-list 
{
  display: flex;  
}
.footer-social-list-link 
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    margin-right: 10px;
    cursor: pointer;
}
.footer-social-list-item:last-child
{
    margin-right: 0px;    
}
.footer-social-list-link:hover,
.footer-social-list-link:focus 
{
 background: $accent-color;
 transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);   
}
.footer-social-link-svg 
{
 fill: $accent-color-light;   
}